target create /home/netsbit/projects/osdev/target/x86_64-unknown-none/debug/deps/artifact/kernel-2ec83d1f6890ba59/bin/kernel-2ec83d1f6890ba59
target modules load --file /home/netsbit/projects/osdev/target/x86_64-unknown-none/debug/deps/artifact/kernel-2ec83d1f6890ba59/bin/kernel-2ec83d1f6890ba59 --slide 0x10000000000
b kernel_start
gdb-remote localhost:1234
